
/*-----------------------------Fonts-------------------------------------*/

  @font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
      url(/fonts/opensans.woff) format('woff'),
      url(/fonts/opensans.woff2) format('woff2');
    }
  @font-face {
      font-family: 'Open Sans Light';
      font-weight: 300;
      font-style: normal;
      src: local('Open Sans Light'), local('OpenSans-Light'),
        url(/fonts/opensanslight.woff) format('woff'),
        url(/fonts/opensanslight.woff2) format('woff2');
    }
  @font-face {
      font-family: 'Gilroy Light';
      font-weight: 300;
      font-style: normal;
      src: local('Gilroy Light'), local('Gilroy-Light'),
        url(/fonts/gilroylight.woff) format('woff'),
        url/(fonts/gilroylight.woff2) format('woff2');
    }
  @font-face {
      font-family: 'Gilroy Extra Bold';
      font-weight: 800;
      font-style: normal;
      src: local('Gilroy Extra Bold'), local('Gilroy-ExtraBold'),
        url(/fonts/gilroyextrabold.woff) format('woff'),
        url(/fonts/gilroyextrabold.woff2) format('woff2');
    }


/*-----------------------------basicstyle-------------------------------------*/


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: auto;
  padding: 0;
  max-width: 1440px;

  background-color: #ffffff;
}

body button {
 border: none;
 box-shadow: none;
}

.main-header {
  background-color: rgba(240, 197, 46, 0.5);
;
}

.main-header-logo img,
.footer-logo img {
  width: 163px;
  height: 35px;
}

.main-header-logo img:hover,
.main-header-logo img:focus,
.footer-logo img:hover,
.footer-logo img:focus {
  opacity: 0.5;
}

.main-header-logo a:active,
.footer-logo a:active {
  opacity: 0.3;
}

.header-top input {
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.15px;
  font-weight: 300;

  border: none;
  background-color: inherit;
}

.user-navigation {
  padding: 0;
  margin: 0;
}

.user-navigation li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.user-navigation a {
  text-decoration: none;

  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.15px;
  font-weight: 300;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  padding: 0;
  margin: 0;
}

.site-navigation li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.site-navigation a {
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 3.6px;
  font-weight: 800;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-menu {
  padding: 0;
  margin: 0;
}

.catalog-menu li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.catalog-menu a {
  list-style: none;

  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  letter-spacing: 0.15px;
  font-weight: 300;
  text-transform: none;
}

.info-slider {
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.slogan {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000000;
}

.definition {
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.15px;
}

.slider-item-discription dt {
  font-family: 'Gilroy-Light', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  font-weight: 300;
  letter-spacing: 0.36px;

  margin: 0;
  padding: 0;
}

.slider-item-discription dd {
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  font-weight: 300;
  letter-spacing: 0.13px;

  margin: 0;
  padding: 0;
}

.button {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 3.6px;
  font-weight: 800;

  background-color: inherit;

  text-decoration: none;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: rgba(240, 197, 46, 1);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-list {
  padding: 0;
  margin: 0;
}

.popular li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.popular a {
  text-decoration: none;

  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.18px;
  font-weight: 800;
}

.popular a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  padding: 0;
  margin: 0;
}

.services-list {
  margin: 0;
  padding: 0;
}

.services-list li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.services-list a {
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 18px;
  line-height: normal;
  color: #000000;
  letter-spacing: 3.6px;
  font-weight: 800;
}

.service-active a {
  background-color: #000000;
  color:  #f7e184;
}

.service-discription dl {
  padding: 0;
  margin: 0;
}

.service-discription dt {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.47px;
  font-weight: 800;
}

.service-discription dd {
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  letter-spacing: 0.15px;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

.logotypes-list {
  margin: 0;
  padding: 0;
}

.logotypes-list li {
  list-style: none;

  padding: 0;
  margin: 0;
}

.about-us h3 {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.47px;
  font-weight: 800;
}

.about-us p {
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  letter-spacing: normal;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

.transport-list {
  margin: 0;
  padding: 0;
}

.transport-list-item {
  list-style: none;

  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  letter-spacing: normal;
  font-weight: 800;
}

.contact-us h3 {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.47px;
  font-weight: 800;
}

.contact-us p {
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  letter-spacing: normal;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

footer {
  background-color:  #464646;
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-middle p {
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: normal;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

.footer-services-list {
  margin: 0;
  padding: 0;
}

.footer-services-list li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.footer-services-list a {
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 3.6px;
  font-weight: 800;
}

.footer-services-list-item:hover,
.footer-services-list-item:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-services-list-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.social-list {
  padding: 0;
  margin: 0;
}

.social-list li {
  list-style: none;

  padding: 0;
  margin: 0;

}

.social-list a {
  text-decoration: none;
  color: #ffffff;
}

/*-------------------------Catalog-basicstyle-------------------*/

.bread-crumbs p {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.47px;
  font-weight: 800;
}

.crumbs-list {
  padding: 0;
  margin: 0;
}

.crumbs-list li {
  list-style: none;

  padding: 0;
  margin: 0;
}

.crumb-item {
  text-decoration: none;

  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.14px;
  font-weight: 300;
}

.crumb-item:hover,
.crumb-item:focus {
  color: rgba(0, 0, 0, 0.6);
}

.crumb-item:active {
  color: rgba(0, 0, 0, 0.1);
}

.sorting-navigation p {
  text-transform: uppercase;

  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 3.2px;
  font-weight: 800;
}

.sorting-navigation-list {
  padding: 0;
  margin: 0;
}

.sorting-navigation-list li {
  list-style: none;

  padding: 0;
  margin: 0;-
}

.sorting-navigation-list a {
  text-decoration: none;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: normal;
  font-weight: normal;
}

.sorting-navigation-list a:hover,
.sorting-navigation-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-navigation-list a:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-active a {
  color: rgba(0, 0, 0, 1);
}

.sorting-form ul {
  padding: 0;
  margin: 0;
}

.sorting-form li {
  list-style: none;

  padding: 0;
  margin: 0;
}

.sorting p {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.18px;
  font-weight: 800;
}

.sorting label {
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.14px;
  font-weight: 300;
}

.catalog-items ul {
  padding: 0;
  margin: 0;
}

.catalog-items li {
  list-style: none;

  padding: 0;
  margin: 0;
}

.catalog-item p {
  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.18px;
  font-weight: 800;
}

.catalog-item span {
  font-family: 'Gilroy Light', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  letter-spacing: 0.16px;
}

.page-navigation {
  background-color: #ebebeb;
  text-transform: uppercase;

  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 3.2px;
  font-weight: 800;
}

.page-navigation button {
  font: inherit;

  text-transform: uppercase;

  font-family: 'Gilroy Extra Bold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 3.2px;
  font-weight: 800;
}

.page-navigation button:hover,
.page-navigation button:focus {
  background-color: #d9d9d9;
}

.page-navigation button:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.page-navigation ul {
  padding: 0;
  margin: 0;
}

.page-navigation li {
  list-style: none;

  padding: 0;
  margin: 0;
}

.page-navigation a {
  text-decoration: none;

  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.number-active a {
  color: rgba(0, 0, 0, 1);
}


/*-------------------------Positions----------------------------*/

/*----------Header*/

.container {
  width: 1160px;

  margin: 0 auto;
}

body {
  display: flex;

  flex-direction: column;
}

.main-header {
  display: flex;

  flex-direction: column;
  box-sizing: border-box;

  margin-top: 40px;
  padding-left: 60px;
  padding-right: 61px;

  height: 299px;
}

.main-header-logo {
  width: 163px;
  height: 35px;

  margin-top: -20px;
  margin-bottom: 33px;
}

.header-top input {
  margin-left: 38px;
  margin-right: 393px;

  width: 108px;
  height: 15px;
}

.header-top {
  display: flex;
}

.user-navigation {
  display: flex;
}

.user-navigation li {
  margin-top: -6px;
}

.user-navigation li:nth-child(1) {
  margin-left: 25px;
  margin-right: 218px;
  margin-bottom: 39px;
}

.user-navigation li:nth-child(2) {
  margin-left: 20px;
  margin-right: 41px;
}

.user-navigation li:nth-child(3) {
  margin-left: 22px;
}

.site-navigation {
  display: flex;
}

.site-navigation li:nth-child(3) {
  margin-right: 107px;
}

.site-navigation li:nth-child(2) {
  margin-right: 35px;
}

.site-navigation li:nth-child(4) {
  margin-right: 0px;
  padding: 0;

  width: 117px;

  /*outline: 1px solid black;*/
}

.site-navigation .user-catalog {
  margin-right: 321px;
}

/*----------main*/

.slide {
  display: flex;

  margin-bottom: 96px;
}

.slider-image {
  margin-left: 90px;
  margin-top: -110px;
  margin-right: 125px;

  width: 384px;
  height: 486px;
}

.slide-wrapper {
  display: flex;
  flex-direction: column;

  margin-top: -80px;
}

.slogan {
  margin-bottom: 4px;

  order: -1;
}

.definition {
  order: 0;
}

.more-details-button {
  order: 1;
}

.slide-conrol {
  display: flex;

  order: 1;
}

.slide-conrol span {
  display: block;

  width: 12px;
  height: 12px;

  border-radius: 50%;

  border: 1px solid black;
}

.slider-item-discription {
  order: 2;

  display: flex;
}

.more-details-button {
  width: 220px;

  text-align: center;
}
/*--------------------------*/

.popular-list {
  display: flex;
}

.popular-list li {
  margin-top: 200px;
  margin-right: 40px;
  margin-bottom: 180px;
  padding: 0;

  width: 160px;
  text-align: left;
}

.popular-list li:last-child {
  margin-right: 0px;
}

.services {
  display: flex;

  background-color: #e5e5e5;

  height: 288px;

  margin-bottom: 94px;
}

.services-list {
  height: 320px;
  margin-top: -97px;

  border-right: 7px solid black;

}

.services-list li {
  width: 278px;
  height: 40px;

  margin-top: 32px;
  margin-left: 140px;

}

.services-list li:first-child {
  margin-top: 80px;
}

.services-list a{
  display: block;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  padding-top: 10px;
  padding-left: 20px;
}

.service-discription {
  margin-top: -25px;
  margin-left: 116px;

  width: 426px;
}

.service-discription dt {
  margin-bottom: 32px;
}

.logotypes {
  margin-bottom: 95px;
}

.logotypes-list {
  display: flex;
  justify-content: space-between;
}

.logotypes-list li:first-child:hover {
  background-image: url(../img/logotype-color-1.png);
}

.logotypes-list li:nth-child(2):hover {
  background-image: url(../img/logotype-color-2.png);
}

.logotypes-list li:nth-child(3):hover {
  background-image: url(../img/logotype-color-3.png);
}

.logotypes-list li:nth-child(4):hover {
  background-image: url(../img/logotype-color-4.png);
}

.info-wrapper {
  display: flex;

  min-height: 560px;

  margin-bottom: 90px;
}

.about-us {
  margin-right: 40px;
  width: 895px;
}

.about-us h3{
  margin-bottom: 45px;
}

.about-us p {
  margin-bottom: 30px;
}

.transport-list {
  margin-top: 65px;
  margin-bottom: 63px;
  padding-left: 35px;
}

.about-us-button {
  display: block;

  width: 260px;

  text-align: center;
}

.contact-us h3 {
  margin-bottom: 45px;
}

.contact-us p {
  margin-bottom: 37px;
}

.map img{
  margin-bottom: 75px;
}

.—Åontact-us-button {
  display: block;

  width: 260px;

  text-align: center;
}

.footer-top {
  display: flex;
}

.footer-logo {
  margin-top: 65px;
  margin-right: 673px;
}

.footer-user-navigation {
  display: flex;

  margin-top: 69px;
}

.footer-user-navigation li:nth-child(1) {
  margin-left: 25px;
  margin-right: 44px;
  margin-bottom: 37px;
}

.footer-user-navigation li:nth-child(2) {
  margin-left: 20px;
  margin-right: 41px;
}

.footer-user-navigation li:nth-child(3) {
  margin-left: 22px;
}

.footer-middle {
  display: flex;
  box-sizing: border-box;

  margin-bottom: 62px;
}

.adress {
  display: block;

  padding: 0;

  margin-right: 166px;

  width: 206px;
}

.phone {
  display: block;
  text-align: right;

  width: 166px;

  padding: 0;
}

.footer-services-list {
  display: flex;

  margin-right: 199px;
  margin-left: 162px;
  margin-top: 5px;
}

.footer-services-list li {
  margin-right: 33px;
}

.footer-services-list li:last-child {
  margin-right: 0px;
}

.socials {
  display: flex;

  margin-bottom: 62px;
}

.socials span {
  display: block;

  width: 80px;
  height: 7px;
  background-color: #ffc600;
  margin-top: 15px;
  margin-right: 429px;
}

.social-list {
  display: flex;
  justify-content: space-between;

  width: 141px;

  margin-right: 483px;
}

.social-list li {
  width: 32px;
  height: 32px;

  border-radius: 50%;

  background-color: lightgrey;
}

/*-------------------------Catalog-positions---------------------*/

.catalog-page .main-header {
  height: 186px;
}

.bread-crumbs{
  margin-bottom: 30px;
}

.bread-crumbs p {
  margin-top: 35px;
  margin-left: 58px;
  margin-bottom: 23px;
}

.crumbs-list {
  display: flex;

  margin-left: 58px;
  padding: 0;
}

.crumbs-list li {
  margin-right: 38px;
}

.sorting-navigation {
  display: flex;
}

.sorting-navigation .filter {
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 200px;
  padding-right: 180px;

  background-color: #d9d9d9;
}

.sorting-navigation-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 71px;

  margin-top: 16px;

  padding-left: 74px;

  box-sizing: border-box;

  background-color: #ebebeb;
}

.sorting-navigation-list {
  display: flex;

  margin-left: 54px;
}

.sorting-navigation-list li:nth-child(1) {
  margin-right: 35px;
}

.sorting-navigation-list li:nth-child(2) {
  margin-right: 34px;
}

.sorting-navigation-list li:nth-child(3) {
  margin-right: 232px;
}

.catalog-wrapper {
  display: flex;


  padding-bottom: 0:
}

.sorting {
  padding: 0;
  margin: 0;

  height: 1216px;

  margin-bottom: -37px;
}

.sorting-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 468px;
  height: 100%;

  padding-left: 197px;
  padding-top: 69px;
  padding-right: 67px;
  margin-top: -17px;


  background-color: #ebebeb;
}

.sorting-form div {
  border-top: 3px solid black;

  padding-left: 0;
}

.sorting-form div p {
  margin-top: 10px;
}

.cost .minim, .maxim {
  border: none;
  background-color: inherit;

  width: 60px;
}

.cost {
  margin-bottom: 15px;
}

.color {
  margin-bottom: 35px;
}

.bluetoth {
  margin-bottom: 40px;
}

.catalog-items {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding-top: 53px;
  padding-left: 71px;

  height: 1216px;
}

.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 760px;
}

.catalog-item img {
  width: 360px;
  height: 380px;

  margin-bottom: 10px;
}

.catalog-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.catalog-item-wrapper {
  margin-bottom: 29px;
}

.page-navigation {
  display: flex;
  box-sizing: border-box;

  width: 760px;

  padding: 24px 18px 24px 22px;

  margin-top: -15px;
  margin-bottom: 60px;
}

.page-number-list {
  display: flex;
  justify-content: space-between;

  margin-right: 232px;

  width: 90px;

  order: 0;
}
.back-button {
  order: -1;

  margin-right: auto;
}

.forward-button {
  order: 1;

  margin-left: auto;
}

.catalog-footer {
  margin-top: -20px;
}
