
/*-----------------------------Fonts-------------------------------------*/

  @font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src:
      url(./fonts/opensans.woff) format('woff'),
      url(./fonts/opensans.woff2) format('woff2');
    }
  @font-face {
      font-family: 'Open Sans';
      font-weight: 300;
      font-style: normal;
      src:
        url(./fonts/opensanslight.woff) format('woff'),
        url(./fonts/opensanslight.woff2) format('woff2');
    }
  @font-face {
      font-family: 'Gilroy';
      font-weight: 300;
      font-style: normal;
      src:
        url(./fonts/gilroylight.woff) format('woff'),
        url(./fonts/gilroylight.woff2) format('woff2');
    }
  @font-face {
      font-family: 'Gilroy';
      font-weight: 800;
      font-style: normal;
      src:
        url(./fonts/gilroyextrabold.woff) format('woff'),
        url(./fonts/gilroyextrabold.woff2) format('woff2');
    }


/*-----------------------------basicstyle-------------------------------------*/


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: auto;
  padding: 0;
  overflow-x: hidden;
  padding-top:40px;

  background-color: #ffffff;
}

.main-page button,
.catalog-page button {
 border: none;
 box-shadow: none;
}

.main-header {
  background-color: rgba(240, 197, 46, 0.5);
;
}

.main-header-logo svg,
.footer-logo svg {
  width: 163px;
  height: 35px;
}

.main-header-logo svg:hover,
.footer-logo svg:hover {
  opacity: 0.5;
}

.main-header-logo svg:active,
.footer-logo svg:active {
  opacity: 0.3;
}

.logo-disabled svg:hover {
  opacity: 1;
}

.logo-disabled svg:active {
  opacity: 1;
}

.logo-disabled {
  cursor: default;
}

.footer-logo svg {
  fill: #ffc600;
}

.header-top input {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.15px;
  font-weight: 300;

  border: none;
  background-color: inherit;
}

.user-navigation {
  padding: 0;
  margin: 0;
}

.user-navigation li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.user-navigation a {
  text-decoration: none;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.15px;
  font-weight: 300;
}

.user-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:hover::before {
  opacity: 0.6;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a:active::before {
  opacity: 0.3;
}

.site-navigation {
  padding: 0;
  margin: 0;
}

.site-navigation li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.site-navigation a {
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 3.6px;
  font-weight: 800;
}

.site-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-menu {
  padding: 0;
  margin: 0;
}

.catalog-menu li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.catalog-menu a {
  list-style: none;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  letter-spacing: 0.15px;
  font-weight: 300;
  text-transform: none;

  text-decoration: none;
}

.info-slider {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.slogan {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000000;
  font-weight: 800;
}

.definition {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.15px;
}

.discription-item p {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  font-weight: 300;
  letter-spacing: 0.36px;

  margin: 0;
  padding: 0;
}

.discription-item span {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  font-weight: 300;
  letter-spacing: 0.13px;

  margin: 0;
  padding: 0;
}

.button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 3.6px;
  font-weight: 800;

  background-color: inherit;

  text-decoration: none;
  text-transform: uppercase;

  position: relative;

  cursor: pointer;

  padding-top: 6px;
  padding-bottom: 6px;

  background-image: url("../img/button-background.png");
  background-repeat: repeat-x;
  background-position: center;
}

.button:hover {
  animation-name: button-sizzing;
  animation-duration: 0.2s;
  background-size: 100% 100%;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-list {
  padding: 0;
  margin: 0;
}

.popular li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.popular a {
  text-decoration: none;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.18px;
  font-weight: 800;
}

.popular a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  padding: 0;
  margin: 0;
}

.services-list {
  margin: 0;
  padding: 0;
}

.services-list li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.services-list a {
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: normal;
  color: #000000;
  letter-spacing: 3.6px;
  font-weight: 800;
}

.service-discription dl {
  padding: 0;
  margin: 0;
}

.service-discription dt {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.47px;
  font-weight: 800;
}

.service-discription dd {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  letter-spacing: 0.15px;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

.logotypes-list {
  margin: 0;
  padding: 0;
}

.logotypes-list li {
  list-style: none;

  padding: 0;
  margin: 0;
}

.about-us h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.47px;
  font-weight: 800;
}

.about-us p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  letter-spacing: normal;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

.transport-list {
  margin: 0;
  padding: 0;
}

.transport-list-item {
  list-style: none;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  letter-spacing: normal;
  font-weight: 800;
}

.contact-us h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.47px;
  font-weight: 800;
}

.contact-us p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  letter-spacing: normal;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

footer {
  background-color:  #464646;
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-navigation a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-middle p {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: normal;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

.footer-services-list {
  margin: 0;
  padding: 0;
}

.footer-services-list li {
  list-style: none;

  margin: 0;
  padding: 0;
}

.footer-services-list a {
  text-decoration: none;
  text-transform: uppercase;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 3.6px;
  font-weight: 800;
}

.footer-services-list-item:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-services-list-item:active {
  color: rgba(255, 255, 255, 0.3);
}

.social-list {
  padding: 0;
  margin: 0;
}

.social-list li {
  list-style: none;

  padding: 0;
  margin: 0;

}

.social-list a {
  text-decoration: none;
  color: #ffffff;
}

/*-------------------------Catalog-basicstyle-------------------*/

.bread-crumbs p {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.47px;
  font-weight: 800;
}

.crumbs-list {
  padding: 0;
  margin: 0;
}

.crumbs-list li {
  list-style: none;

  padding: 0;
  margin: 0;
}

.crumb-item {
  text-decoration: none;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.14px;
  font-weight: 300;
}

.crumb-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.crumb-item:active {
  color: rgba(0, 0, 0, 0.1);
}

.sorting .filter {
  text-transform: uppercase;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 3.2px;
  font-weight: 800;
}

.sorting-navigation-wrapper p {
  text-transform: uppercase;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 3.2px;
  font-weight: 800;
}

.sorting-navigation-list {
  padding: 0;
  margin: 0;
}

.sorting-navigation-list li {
  list-style: none;

  padding: 0;
  margin: 0;-
}

.sorting-navigation-list a {
  text-decoration: none;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: normal;
  font-weight: normal;
}

.sorting-navigation-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-navigation-list a:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-active a {
  color: rgba(0, 0, 0, 1);
}

.sorting-active a:hover {
  color: rgba(0, 0, 0, 1);
}

.sorting-form ul {
  padding: 0;
  margin: 0;
}

.sorting-form li {
  list-style: none;

  padding: 0;
  margin: 0;
}

.filter {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.18px;
  font-weight: 800;
}

.sorting-form p {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  text-align: left;
}

.sorting label {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.14px;
  font-weight: 300;

  cursor: pointer;
}

.catalog-items ul {
  padding: 0;
  margin: 0;
}

.catalog-items li {
  list-style: none;

  padding: 0;
  margin: 0;
}

.catalog-item p {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.18px;
  font-weight: 800;
}

.catalog-item span {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  letter-spacing: 0.16px;
}

.page-navigation {
  background-color: #ebebeb;
  text-transform: uppercase;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 3.2px;
  font-weight: 800;
}

.page-navigation button {
  font: inherit;

  text-transform: uppercase;

  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 3.2px;
  font-weight: 800;
}

.page-navigation button:hover {
  background-color: #d9d9d9;
}

.page-navigation button:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.page-number-list {
  padding: 0;
  margin: 0;
}

.page-number-list li {
  list-style: none;

  padding: 0;
  margin: 0;
}

.page-navigation a {
  text-decoration: none;

  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.number-active a {
  color: rgba(0, 0, 0, 1);
}


/*-------------------------Positions----------------------------*/

/*----------Header*/

.container {
  width: 1160px;

  margin: 0 auto;
}

body {
  display: flex;

  flex-direction: column;
}

.main-header {
  display: flex;

  flex-direction: column;
  box-sizing: border-box;

  padding-left: 60px;
  padding-right: 61px;

  height: 299px;
}

.main-header-logo {
  width: 163px;
  height: 35px;

  position: relative;
  top: -20px;
  margin-bottom: 13px;
}

.header-top form {
  padding: 0;
  margin: 0;
}

.header-search {
  box-sizing: border-box;
  padding-left: 38px;
  padding-right: 185px;
  margin-right: 40px;
  min-width: 502px;
  height: 15px;
  top: -23px;

  position: relative;
}

.header-search input {
  width: 100%;
  outline: none;
}

.main-header .search-button {
  display: none;
  border: 3px solid black;

  padding: 4px 21px;

  background-color: inherit;
  position: absolute;
  top: -9px;
  right: 100px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.15px;
  font-weight: 300;
}

.search-button:hover {
  background-color: #000000;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  display: block;
}

.header-search input:focus,
.header-search input:active {
  border-bottom: 3px solid black;
  color: rgba(0, 0, 0, 1);
}

.header-search input:focus + .search-button {
  display: block;
}

.header-search input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-search::before {
  content: "";

  position: absolute;

  width: 16px;
  height: 16px;

  left: 3px;
  top: 8px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-top {
  display: flex;
}

.user-navigation {
  display: flex;


  width: 100%;
}

.user-navigation li {
  margin-top: -6px;

  position: relative;
}

.log-in::before {
  content: "";

  position: absolute;

  width: 13px;
  height: 12px;
  left: -26px;
  top: 10px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare::before {
  content: "";

  position: absolute;

  width: 13px;
  height: 12px;
  left: -20px;
  top: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket::before {
  content: "";

  position: absolute;

  width: 13px;
  height: 12px;
  left: -23px;
  top: 10px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation li:nth-child(1) {
  margin-right: auto;
  margin-bottom: 39px;
  margin-left: 23px;
}

.user-navigation li:nth-child(3) {
  margin-left: 62px;
}

.log-in span {
  margin-right: 20px;
}


.site-navigation {
  display: flex;

  width: 100%;
}

.user-catalog::after {
  content: "";

  position: absolute;

  width: 16px;
  height: 16px;
  right: -28px;
  top: 3px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}


.site-navigation li:nth-child(3) {
  margin-right: 107px;
}

.site-navigation li:nth-child(2) {
  margin-right: 35px;
}

.site-navigation li:nth-child(4) {
  margin-right: 0px;
  padding: 0;

  width: 117px;
}

.site-navigation li:first-child  {
  margin-right: auto;
  position: relative;
}

.site-navigation .user-catalog {
  position: relative;
}

.site-navigation-wrapper {
  position: relative;
}



.catalog-menu {
  position: absolute;
  box-sizing: border-box;

  display: none;
  justify-content: flex-start;
  left: -60px;

  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 36px;

  width: 1160px;
  background-color: #f8e296;
  z-index: 3;
}

.catalog-menu li:first-child {
  margin-right: 10px;
  padding: 0;
}

.catalog-menu li:nth-child(2) {
  margin-right: 10px;
  padding: 0;
}

.user-catalog:hover + .catalog-menu {
  display: flex;
}

.user-catalog:focus + .catalog-menu {
  display: flex;
}

.catalog-menu:hover {
  display: flex;
}

/*----------main*/

.slide {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slider-image {
  padding-left: 90px;
  top: -110px;
  position: relative;
  margin-right: auto;
}

.slide-three .slider-image {
  padding-left: 40px;
  top: -50px;
  padding-bottom: 150px;
}



.slide::after {
  content: "";

  position: absolute;

  width: 166px;
  height: 131px;
  right: 60px;
  top: -105px;
  z-index: 1;

  background-image: url("../img/01.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slide-two::after {
  background-image: url("../img/02.png");
  width: 200px;
}

.slide-three::after {
  background-image: url("../img/03.png");
  width: 200px;
}

.slide::before{
  content: "";

  position: absolute;

  width: 100px;
  height: 7px;
  right: 460px;
  top: -75px;

  background-color: white;

}

.slide-wrapper {
  display: flex;
  flex-direction: column;
  width: 513px;

  top: -80px;
  position: relative;
  margin-right: 50px;
  padding-bottom: 0px;

  z-index: 2;
}

.slogan {
  margin-bottom: 4px;
  position: relative;

  order: -1;
}

.definition {
  order: 0;

  margin-bottom: 45px;
}

.more-details-button {
  order: 1;
  margin-left: 3px;

  width: 220px;

  text-align: center;
}

.info-slider {
  position: relative;
}

.slide-conrol {
  display: flex;
  justify-content: space-between;

  width: 78px;
  height: 12px;

  position: absolute;
  right: 82px;
  bottom: 259px;

  order: 1;
  z-index: 3;
}

.slider-button {
  width: 12px;
  height: 12px;

  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.slide-checked {
  background-image: url("../img/slider-button.svg");
}

.slider-discriptions {
  order: 2;

  margin: 0;
  padding: 0;

  display: flex;

  padding-top: 52px;
}

.discription-item {
  list-style: none;

  margin-right: 79px;
}

/*--------------------------*/

.popular {
  padding-bottom: 180px;
  margin-top: -7px;
}

.popular-list {
  display: flex;
}

.popular-list li {
  padding: 0;
  text-align: left;

  max-width: 160px;
  margin-right: 40px;

  position: relative;
}

.popular-wrapper {
  display: block;
  position: relative;

  width: 160px;
  height: 160px;

  margin-bottom: 33px;
  background-color: #f7e296;
}

.virtual-reality::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  top: 52px;
  left: 31px;

  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.monopod::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  top: 42px;
  left: 38px;

  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.camera::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  top: 38px;
  left: 49px;

  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.fitnes::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  top: 52px;
  left: 27px;

  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.watch::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  top: 32px;
  left: 55px;

  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.quadrocopter::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  top: 49px;
  left: 13px;

  background-image: url("../img/poppular-6.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popular-list li:last-child {
  margin-right: 0px;
}

.popular-list-item a:hover .popular-wrapper {
  background-color: #f0c52e;
}

.popular-list-item a:active .popular-wrapper::before {
  opacity: 0.3;
}

.substrate {
  background-color: #e5e5e5;
  position: relative;
}

.services {
  display: flex;

  height: 288px;

  margin-bottom: 94px;
}

.services-list {
  height: 240px;
  margin-top: -97px;

  border-right: 7px solid black;

  padding-top: 80px;
  position: relative;
  z-index: 1;

}

.services-list li {
  width: 278px;
  height: 40px;

  padding: 0;
  margin: 0;

  margin-bottom: 23px;
}

.services-list a{
  display: block;
  box-sizing: border-box;

  position: relative;

  width: 160px;
  height: 100%;

  text-align: center;

  padding-top: 10px;

  background-image: url("../img/button-background.png");
  background-repeat: repeat-x;
  background-position: center;
}

.services-list a:hover {
  animation-name: button-sizzing;
  animation-duration: 0.2s;
  background-size: 100% 100%;
}

.services-list a:active {
  background-color: #000000;
  background-image: none;
  color:  #f7e184;
  width: 100%;
  height: 100%;
  text-align: left;

  padding-top: 10px;
  padding-left: 20px;


}

.services-list .service-active {
  background-color: #000000;
  color:  #f7e184;
  width: 100%;
  height: 100%;
  text-align: left;

  padding-top: 10px;
  padding-left: 20px;

  background-image: none;
}

.services-list .service-active:hover {
  background-color: #000000;
  color:  #f7e184;
  width: 100%;
  height: 100%;
  text-align: left;

  padding-top: 10px;
  padding-left: 20px;
  background-image: none;
}

.service-discription {
  margin-top: -25px;
  margin-left: 116px;

  width: 426px;

  position: relative;
}

.service-discription dt {
  margin-bottom: 32px;
}

.service-discription-delivery::after {
  content: "";

  position: absolute;

  width: 136px;
  height: 164px;

  top: 13px;
  left: 556px;

  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-discription-warranty::after {
  content: "";

  position: absolute;

  width: 171px;
  height: 194px;

  top: -11px;
  left: 556px;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-discription-credit::after {
  content: "";

  position: absolute;

  width: 156px;
  height: 186px;

  top: -14px;
  left: 539px;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logotypes {
  margin-bottom: 95px;
}

.logotypes-list {
  display: flex;
  justify-content: space-between;
}

.logotypes-list li:first-child:hover {
  background-image: url(../img/logotype-color-1.png);
}

.logotypes-list li:nth-child(2):hover {
  background-image: url(../img/logotype-color-2.png);
}

.logotypes-list li:nth-child(3):hover {
  background-image: url(../img/logotype-color-3.png);
}

.logotypes-list li:nth-child(4):hover {
  background-image: url(../img/logotype-color-4.png);
}

.info-wrapper {
  display: flex;

  min-height: 560px;

  margin-bottom: 83px;
}

.about-us {
  margin-right: 40px;
  width: 895px;
}

.about-us h3{
  margin-bottom: 45px;

  position: relative;
}

.about-us p {
  margin-bottom: 30px;
}

.about-us h3::before {
  content: "";

  position: absolute;

  width: 80px;
  height: 7px;

  top: -50px;
  left: 0px;

  background-color: black;
}

.contact-us h3::before {
  content: "";

  position: absolute;

  width: 80px;
  height: 7px;

  top: -50px;
  left: 0px;

  background-color: black;
}

.transport-list {
  margin-top: 65px;
  margin-bottom: 57px;
  padding-left: 35px;
}

.transport-list-item {
  position: relative;
}

.transport-list-item::before {
  content: "";
  position: absolute;

  top: 17px;
  left: -35px;

  width: 4px;
  height: 4px;

  border: 2px solid #e5e5e5;

  border-radius: 50%;
}

.about-us-button {
  display: block;

  width: 260px;

  text-align: center;
}

.contact-us h3 {
  margin-bottom: 45px;

  position: relative;
}

.contact-us p {
  margin-bottom: 37px;
}

.map img{
  margin-bottom: 69px;
}

.сontact-us-button {
  display: block;

  width: 260px;

  text-align: center;
}

.footer-top {
  display: flex;
}

.footer-top .log-in::before {
  background-image: url("../img/user-footer.svg");
}

.footer-top .compare::before {
  background-image: url("../img/compare-footer.svg");
}

.footer-top .basket::before {
  background-image: url("../img/cart-footer.svg");
}

.footer-logo {
  margin-top: 65px;
  margin-right: 673px;
}

.footer-user-navigation {
  display: flex;

  margin-top: 69px;
}

.footer-user-navigation li:nth-child(1) {
  margin-left: 25px;
  margin-right: 44px;
  margin-bottom: 37px;
}

.footer-user-navigation li:nth-child(2) {
  margin-left: 20px;
  margin-right: 41px;
}

.footer-user-navigation li:nth-child(3) {
  margin-left: 22px;
}

.footer-middle {
  display: flex;
  box-sizing: border-box;

  margin-bottom: 62px;
}

.adress {
  display: block;

  padding: 0;

  margin-right: 166px;

  width: 206px;
}

.phone {
  display: block;
  text-align: right;
  text-decoration: none;

  width: 166px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: normal;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

.footer-services-list {
  display: flex;

  margin-right: 199px;
  margin-left: 162px;
  margin-top: 5px;
}

.footer-services-list li {
  margin-right: 33px;
}

.footer-services-list li:last-child {
  margin-right: 0px;
}

.socials {
  display: flex;

  margin-bottom: 62px;
}

.socials span {
  display: block;

  width: 80px;
  height: 7px;
  background-color: #ffc600;
  margin-top: 15px;
  margin-right: 429px;
}

.social-list {
  display: flex;
  justify-content: space-between;

  width: 141px;

  margin-right: 483px;
}

.social-list a {
  display: block;

  width: 32px;
  height: 32px;

  border-radius: 50%;

  position: relative;

  opacity: 0.3;
}

.social-list a:hover {
  opacity: 0.6;
}

.social-list a:active {
  opacity: 0.1;
}

.footer-copyright img:hover {
  opacity: 0.6;
}

.footer-copyright img:active {
  opacity: 0.3;
}

/*-------------------------Catalog-positions---------------------*/

.catalog-page .main-header {
  height: 186px;
}

.bread-crumbs{
  margin-bottom: 30px;
}

.bread-crumbs p {
  margin-top: 35px;
  margin-left: 58px;
  margin-bottom: 23px;
}

.crumbs-list {
  display: flex;

  margin-left: 58px;
  padding: 0;
}

.crumbs-list li {
  margin-right: 38px;
}

.crumbs-list a {
  position: relative;
}

.crumb-item::after {
  content: "";

  position: absolute;

  width: 4px;
  height: 7px;
  top: 7px;
  right: -20px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.crumbs-list li:last-child .crumb-item::after {
  display: none;
}

.catalog-wrapper {
  display: flex;

  padding-top: 17px;
}

.sorting {
  padding: 0;
  margin: 0;

  min-width: 327px;
}

.filter {
  display: block;
  position: relative;

  width: 100%;
  height: 71px;

  box-sizing: border-box;

  padding-top: 22px;
  padding-left: 63px;

  margin: 0;

  background-color: #d9d9d9;
}

.filter::before {
  content: "";

  width: 9999px;
  height: 71px;

  position: absolute;
  left: -9999px;
  top: 0px;

  background-color: #d9d9d9;
}

.sorting-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;

  height: 100%;

  padding-left: 59px;
  padding-top: 69px;
  padding-right: 60px;

  background-color: #ebebeb;
}

.sorting-form::before {
  content: "";

  width: 9999px;
  height: 100%;

  position: absolute;
  left: -9999px;
  top: 0px;
  z-index: 1;

  background-color: #ebebeb;
}

.sorting-form div p {
  margin-top: 10px;
}

.sorting-form input:focus + label {
  outline: 1px solid lightblue;
}

.cost {
  border-top: 3px solid black;

  padding-left: 0;

  margin-bottom: 17px;
  height: 120px;
}

.range-line {
  position: relative;
  top: 17px;
  left: -5px;
  padding: 0;
  margin: 0;

  width: 210px;
  height: 2px;
  background-color: #dbdbdb;
  border: none;
}

.range-line::before {
  content: "";

  position: absolute;

  top: 0;
  left: 0;
  width: 113px;
  height: 2px;
  background-color: #91c92f;
  border: none;
}

.range-point {
  width: 20px;
  height: 22px;

  position: absolute;
  top: -11px;
  left: 0;

  cursor: pointer;

  padding: 0;
  margin: 0;

  border-radius: 50%;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.range-point:active {
  width: 22px;
  height: 24px;
  background-size: 100%;

  top: -12px;
  left: -1px;
}

.max-value {
  left: 113px;
}

.max-value:active {
  left: 112px;
}

.range-point span {
  position: relative;
  top: 25px;
  display: block;

  width: 40px;

  padding: 0;
  margin: 0;

  font-family: 'Gilroy';
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.max-value span {
  width: 80px;
  left: -30px;
}

.color {
  margin-bottom: 33px;

  border-top: 3px solid black;

  padding-left: 0;
}

.color p {
  margin-bottom: 15px;
}

.bluetoth p {
  margin-bottom: 15px;
}

.color label {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000000;

  margin-left: 40px;

  position: relative;
  top: 2px;
}

.color label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.color input[type=checkbox]:checked + label:before {
  content: "";

  position: absolute;
  top: -2px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.color li:hover label::before {
  opacity: 0.6;
}

.color li:active label::before {
  opacity: 1;
}

.bluetoth {
  margin-bottom: 35px;

  border-top: 3px solid black;

  padding-left: 0;
}

.bluetoth label {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: 0.14px;
  text-align: left;
  color: #000000;

  margin-left: 40px;

  position: relative;
}

.bluetoth label::before {
  content: "";

  position: absolute;
  top: -5px;
  left: -40px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bluetoth input[type=radio]:checked + label:before {
  content: "";

  position: absolute;
  top: -5px;
  left: -40px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bluetoth li:hover label::before {
  opacity: 0.6;
}

.bluetoth li:active label::before {
  opacity: 1;
}

.show-button {
  background-image: url("../img/button-background.png");
  background-repeat: repeat-x;
  background-position: center;
}

.catalog-content {
  padding-top: 69px;
  padding-left: 71px;
  padding-right: 0px;
  padding-bottom: 72px;
}

.sorting-navigation-wrapper {
  display: flex;
  align-items: center;
  width: 835px;
  height: 71px;
  position: relative;

  padding-left: 74px;

  box-sizing: border-box;

  background-color: #ebebeb;
}

.sorting-navigation-wrapper::before {
  content: "";

  width: 9999px;
  height: 71px;

  position: absolute;
  right: -9999px;
  top: 0px;

  background-color: #ebebeb;
}

.sorting-navigation-wrapper p {
  margin-right: 57px;
}

.sorting-navigation-list {
  display: flex;

  position: relative;
  width: 100%;
}

.sorting-navigation-list li:nth-child(1) {
  margin-right: 30px;
}

.sorting-navigation-list li:nth-child(2) {
  margin-right: 34px;
}

.sorting-navigation-list li:nth-child(3) {
  margin-right: 0px;
}

.sorting-navigation-list li:nth-child(4) {
  min-width: 42px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.ascending {
  width: 11px;
  height: 10px;
  position: relative;
  top: 7px;

  opacity: 0.2;
}

.descending {
  width: 11px;
  height: 10px;
  position: relative;
  top: 7px;

  opacity: 0.2;
}

.ascending:hover,
.descending:hover {
  opacity: 0.4;
}

.ascending:active,
.descending:active {
  opacity: 1;
}

.ascending::before {
  content: "";

  width: 11px;
  height: 10px;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.descending::before {
  content: "";

  width: 11px;
  height: 10px;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-active {
  opacity: 1;
}

.sorting-active:hover {
  opacity: 1;
}

.catalog-items {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  min-width: 835px;
}

.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 760px;
}

.catalog-item {
  position: relative;
}

.catalog-item-hover {
  display: none;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  position: absolute;

  top: 175px;
  left: 76px;

  z-index: 2;
}

.catalog-item-hover::before {
  content: "";

  width: 360px;
  height: 380px;

  position: absolute;

  top: -175px;
  left: -76px;

  background-color: rgba(238, 238, 238, 0.7);

  z-index: -1;
}

.catalog-item:hover .catalog-item-hover{
  display: flex;
}


.case-button {
  width: 200px;

  margin-bottom: 15px;
}

.compare-add {
  text-decoration: none;

  opacity: 0.5;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.13px;
  text-align: center;
  color: #00000080;
}

.compare-add:hover {
  opacity: 1;
}

.compare-add:active {
  opacity: 0.2;
}

.catalog-item img {
  width: 360px;
  height: 380px;

  margin-bottom: 10px;
}

.catalog-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.catalog-item-wrapper {
  margin-bottom: 29px;
}

.catalog-item-new::before {
  content: "";

  position: absolute;

  top: 28px;
  right: 27px;

  width: 60px;
  height: 60px;

  background-image: url("../img/new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-navigation {
  display: flex;
  box-sizing: border-box;

  position: relative;
  top:-15px;

  min-width: 759px;
  height: 70px;

}

.page-navigation .page-number-list {
  display: flex;
  justify-content: space-between;

  position: absolute;

  top: 25px;
  left: 50%;

  width: 90px;
  margin-left: -45px;
}
.back-button {
  position: absolute;

  top: 0;
  left: 0;
  background-color: #ebebeb;

  cursor: pointer;

  height: 70px;

  padding-left: 30px;
  padding-right: 39px;

}

.forward-button {
  position: absolute;

  top: 0;
  right: 0;

  cursor: pointer;

  height: 70px;
  background-color: #ebebeb;

  padding-left: 31px;
  padding-right: 30px;
}

.catalog-footer {
  margin-top: -13px;
  position: relative;
  z-index: 2;
}

/*--------------------modal-----------------*/

.modal-feedback {
  display: none;
  width: 960px;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  padding: 90px 100px;
  background-color: inherit;

  box-sizing: border-box;

  position: fixed;
  z-index: 101;

  top: 50%;
  left: 50%;

  margin-left: -480px;
  margin-top: -277px;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.close-tab {
  display: block;
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;
  border-radius: 50%;
  opacity: 0.5;
}

.close-tab:hover {
  opacity: 1;
}

.close-tab:active {
  opacity: 0.3;
}

.feedback-form p {
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;

  margin-bottom: 10px;
}

.feedback-form input,
.feedback-form textarea  {
  background-color: #f2f2f2;
  border: none;
  padding: 16px 20px;

  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #46464666;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: #eaeaea;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: solid 3px #f0c52e;
  background-color: #ffffff;
}

.feedback-form input:invalid,
.feedback-form textarea:invalid {
  background-color: #f6dada;
}
.user-name-field {
  min-width: 320px;
  margin-right: 40px;
}

.user-mail-field {
  min-width: 320px;
}

.user-massage-field {
  width: 720px;
  min-height: 156px;
  vertical-align: top;

  margin-bottom: 30px;
}

.feedback-button {
  width: 200px;
}

/*----------------------------*/

.modal-map {
  display: none;
  width: 960px;
  height: 559px;

  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  background-color: inherit;

  box-sizing: border-box;

  position: fixed;
  z-index: 101;

  top: 50%;
  left: 50%;

  margin-left: -480px;
  margin-top: -277px;
}

.modal-map p {
  position: absolute;

  top: 0;
  left: 0;

  z-index: -1;
}

.modal-map iframe {
  width: 100%;
  height: 100%;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;F
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes button-sizzing {
  from { background-size: 100% 20%; }
  to   { background-size: 100% 100%; }
}
